@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

:root {
    --font-family: 'Gloock', sans-serif;
    --color-bg: #13364C;
    --color-footer: #2e2e2e;
    --color-text: #57a0c6;
    --color-subtext: #2eca72;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

.bs-header {
    color: var(--color-subtext);
    font-family: var(--font-family);
    text-align: center;
    margin-top: 1rem;
}

.bs-rules {
    margin-top: 5rem;
}

.bs-footer {
    background-color:var(--color-footer);
    font-family: 'Rokkitt', serif;
}

table td {
    background-color: white;
    border: 1px solid gray;
    width: 35px;
    height: 35px;
}